.btn-sign{
    background-color: var(--primary-color);
    font-size: 14px;
    padding: 12px 28px;
    margin-right: 24px!important;
}
.title-login{
    font-size: 40px;
}
.desc-login{
    color: #6F777A;
    font-size: 15px;
    margin-top: -12px;
}
.login-form{
    color: #2B363B ;
}
.input-login{
    width: 350px!important;
    padding: 15px 18px;
    border: 2px solid #EAEBEC;
}
.email-input::placeholder{
    color: #bdbdbd;
    /*font-weight: 500;*/
}
.forgot-pass{
    width: 320px;
    color: var(--primary-color);
    font-weight: 640;
}
.forgot-pass:hover{
    width: 320px;
    color: var(--primary-color);
    font-weight: 640;
    opacity: 0.8;
}
.login-btn{
    background-color: var(--primary-color);
    width: 350px;
    border: 1px solid transparent;
}
.login-content{
    margin: 0 300px;
}
.login-btn:hover{
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color);
}
