

:root{
    --primary-color:#605BCC;
    --main-black-color:#333333;
    --secondary-color:#E3674B;
    --font-black-color:#606060
}
.h-full {
    height: 100vh;
}
.text-orange {
    color: var(--secondary-color);
}
.auth-msg, .auth-msg * {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
}
form {
    width: 100%;
}
form a {
    text-decoration: none;
}
.bloom-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.bloom-form input {
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: rgba(51, 51, 51, .06);
    padding: 12px 20px;
    color: #898A8A;
}
input[type="checkbox"] {
    border: 1px solid rgb(51, 51, 51);
    accent-color: rgba(51, 51, 51, .06);
}
input[type="text"]:focus, input[type="text"]:focus-visible,
input[type="password"]:focus, input[type="password"]:focus-visible,
input[type="email"]:focus, input[type="email"]:focus-visible {
    border: none;
    outline: none;
    background-color: rgba(51, 51, 51, .04);
    box-shadow: 0 0 1px var(--main-black-color);
}
.input-invalid {
    box-shadow: 0 0 1px #f00;
}
.btn-bloom {
    width: 100%;
    border: none;
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    background-color: var(--main-black-color);
    border-radius: 4px;
    padding: 12px 20px;
}
.btn-bloom:hover {
    opacity: .95;
}
.title-section{
    font-family: 'Bebas Neue', cursive!important;
}

.hero-page{
    margin-top: 80px;
}
.btn-explore{
    background-color: var(--main-black-color) !important;
    padding: 10px 20px ;
    border: 2px solid transparent;
    border-radius: 2px!important;
}
.btn-collection{
    color: var(--main-black-color) !important;
    background-color: #e2e2e2;
    padding: 10px 20px ;
    border: 2px solid var(--main-black-color) !important;
    border-radius: 2px!important;
}
.product-section,
.feature-page,
.collection-page,
.cta-page{
    margin-top: 100px;
}
.group-product{
    padding: 20px 24px;
}
.deal-card-page{
    margin-top: 80px;
}
.card{
    border: none!important;
}
.price-box{
    padding: 2px 6px;
    border-radius: 2px;
}
.card:hover .img-card{
    filter: brightness(84%);
    transition: 0.4s!important;
}
.fa-heart:active{
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-view{
    background-color:var(--main-black-color) !important ;
    border-radius: 2px!important;
    padding: 8px 12px!important;
}
.btn-collection{
    border-radius: 2px!important;
    padding: 6px 8px!important;
}
footer{
    margin-top: 110px;
}
.fa-brands{
    font-weight: bolder;
    border:1.5px solid var(--main-black-color);
    padding: 10px 12px;
    border-radius: 2px;
}
.nav-link.active::after{
    background-color: var(--main-black-color);
    width: 26px;
    margin-top: 22px;
    margin-left: -25px;
    height: 2px;
    content:'';
    position: absolute;
}
