@font-face {
    font-family: "Gilroy";
    src: url("../font/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/gilroy/Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("../font/gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: #2B363B;
}
:root {
    --purple: #605BCC;
    --purple-hover: #4d48c6;
}
::selection {
    background-color: var(--purple);
    color: #fff;
}
.form-control::placeholder {
    color: #BDBDBD;
}
input[type="checkbox"] {
    accent-color: var(--purple);
}
.bloom-brand {
    width: 3.2rem;
    height: auto;
    top: 12px;
    left: 32px;
}
.space-auth {
    margin-top: 6rem;
    padding-left: 8rem;
    padding-right: 8rem;
}
.auth-title {
    font-size: 2rem;
    font-weight: 600;
}
.auth-desc {
    font-size: .8rem;
    color: #2B363BAD;
}
.form-label {
    font-weight: 500;
}
.form-control {
    padding: .8rem 1.2rem;
    font-size: 1rem;
}
.form-control:focus {
    box-shadow: none;
    border-color: var(--purple)
}
.btn-purple {
    background-color: var(--purple);
    color:white;
    font-size: 1rem;
    padding: .6rem 0.75rem;
    border: 1px solid var(--purple);
    border-radius: 0.375rem;
    transition: all .15s ease-in-out;
    text-decoration: none;
}
.btn-purple:hover {
    background-color: var(--purple-hover);
    border-color: var(--purple-hover);
    color: #fff;
}
.text-purple {
    color: var(--purple);
}
.text-purple:hover {
    color: var(--purple-hover);
}
.register .auth-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url('../img/register/register-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login .auth-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url('../img/login/hero-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.auth-img a {
    padding: .6rem 1.5rem;
    top: 1rem;
    right: 1rem;
}
